<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.blazhkoserghii.SBlazhkoApp" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_laucher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name="com.example.blazhkoserghii.SBlazhkoApp.Main_activity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.blazhkoserghii.SBlazhkoApp.Homework_1"></activity>
        <activity android:name="com.example.blazhkoserghii.SBlazhkoApp.Homework_2"></activity>
        <activity android:name="com.example.blazhkoserghii.SBlazhkoApp.Homework_3"></activity>
        <activity android:name="com.example.blazhkoserghii.SBlazhkoApp.Homework_5"></activity>
    </application>
</manifest>
